<head><title>meeting15</title><link href="styles/style.css" rel="stylesheet" type="text/css" ></head><body><table>
  <tr>
    <th>Serial No.</th>
    <th>Kinetics-700 Label</th>
    <th>Sample 1</th>
    <th>Sample 2</th>
    <th>Sample 3</th>
    <th>Pose Keypoints (showing best one of the three)</th>
  </tr>
  <tr>
    <td>1</td>
    <td>mountain climber (exercise)</td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/mountain climber (exercise)/0.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/mountain climber (exercise)/1.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/mountain climber (exercise)/2.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//poses/mountain climber (exercise)/0.mp4" type="video/mp4"> </video></td>
  </tr>
  <tr>
    <td>2</td>
    <td>playing hand clapping games</td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/playing hand clapping games/0.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/playing hand clapping games/1.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/playing hand clapping games/2.mp4" type="video/mp4"> </video></td>
    <td><p>Pose estimation failed completely</p></td>
  </tr>
  <tr>
    <td>3</td>
    <td>punching bag</td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/punching bag/0.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/punching bag/1.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/punching bag/2.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//poses/punching bag/2.mp4" type="video/mp4"> </video></td>
  </tr>
  <tr>
    <td>4</td>
    <td>bouncing on trampoline</td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/bouncing on trampoline/0.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/bouncing on trampoline/1.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/bouncing on trampoline/2.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//poses/bouncing on trampoline/1.mp4" type="video/mp4"> </video></td>
  </tr>
  <tr>
    <td>5</td>
    <td>jumping jacks</td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/jumping jacks/0.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/jumping jacks/1.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/jumping jacks/2.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//poses/jumping jacks/2.mp4" type="video/mp4"> </video></td>
  </tr>
  <tr>
    <td>6</td>
    <td>slicing onion</td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/slicing onion/0.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/slicing onion/1.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/slicing onion/2.mp4" type="video/mp4"> </video></td>
    <td><p>Pose estimation failed completely</p></td>
  </tr>
  <tr>
    <td>7</td>
    <td>juggling balls</td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/juggling balls/0.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/juggling balls/1.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/juggling balls/2.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//poses/juggling balls/1.mp4" type="video/mp4"> </video></td>
  </tr>
  <tr>
    <td>8</td>
    <td>clapping</td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/clapping/0.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/clapping/1.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/clapping/2.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//poses/clapping/0.mp4" type="video/mp4"> </video></td>
  </tr>
  <tr>
    <td>9</td>
    <td>tapping pen</td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/tapping pen/0.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/tapping pen/1.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/tapping pen/2.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//poses/tapping pen/0.mp4" type="video/mp4"> </video></td>
  </tr>
  <tr>
    <td>10</td>
    <td>tap dancing</td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/tap dancing/0.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/tap dancing/1.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/tap dancing/2.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//poses/tap dancing/0.mp4" type="video/mp4"> </video></td>
  </tr>
  <tr>
    <td>11</td>
    <td>marching</td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/marching/0.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/marching/1.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/marching/2.mp4" type="video/mp4"> </video></td>
    <td><p>Pose estimation failed completely</p></td>
  </tr>
  <tr>
    <td>12</td>
    <td>juggling soccer ball</td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/juggling soccer ball/0.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/juggling soccer ball/1.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/juggling soccer ball/2.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//poses/juggling soccer ball/1.mp4" type="video/mp4"> </video></td>
  </tr>
  <tr>
    <td>13</td>
    <td>running on treadmill</td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/running on treadmill/0.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/running on treadmill/1.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/running on treadmill/2.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//poses/running on treadmill/2.mp4" type="video/mp4"> </video></td>
  </tr>
  <tr>
    <td>14</td>
    <td>tiptoeing</td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/tiptoeing/0.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/tiptoeing/1.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/tiptoeing/2.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//poses/tiptoeing/1.mp4" type="video/mp4"> </video></td>
  </tr>
  <tr>
    <td>15</td>
    <td>swimming front crawl</td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/swimming front crawl/0.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/swimming front crawl/1.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/swimming front crawl/2.mp4" type="video/mp4"> </video></td>
    <td><p>Pose estimation failed completely</p></td>
  </tr>
  <tr>
    <td>16</td>
    <td>playing drums</td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/playing drums/0.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/playing drums/1.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/playing drums/2.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//poses/playing drums/1.mp4" type="video/mp4"> </video></td>
  </tr>
  <tr>
    <td>17</td>
    <td>dribbling basketball</td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/dribbling basketball/0.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/dribbling basketball/1.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/dribbling basketball/2.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//poses/dribbling basketball/0.mp4" type="video/mp4"> </video></td>
  </tr>
  <tr>
    <td>18</td>
    <td>moon walking</td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/moon walking/0.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/moon walking/1.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/moon walking/2.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//poses/moon walking/1.mp4" type="video/mp4"> </video></td>
  </tr>
  <tr>
    <td>19</td>
    <td>chopping wood</td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/chopping wood/0.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/chopping wood/1.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/chopping wood/2.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//poses/chopping wood/1.mp4" type="video/mp4"> </video></td>
  </tr>
  <tr>
    <td>20</td>
    <td>swimming backstroke</td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/swimming backstroke/0.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/swimming backstroke/1.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/swimming backstroke/2.mp4" type="video/mp4"> </video></td>
    <td><p>Pose estimation failed completely</p></td>
  </tr>
  <tr>
    <td>21</td>
    <td>drumming fingers</td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/drumming fingers/0.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/drumming fingers/1.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/drumming fingers/2.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//poses/drumming fingers/0.mp4" type="video/mp4"> </video></td>
  </tr>
  <tr>
    <td>22</td>
    <td>punching person (boxing)</td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/punching person (boxing)/0.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/punching person (boxing)/1.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/punching person (boxing)/2.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//poses/punching person (boxing)/1.mp4" type="video/mp4"> </video></td>
  </tr>
  <tr>
    <td>23</td>
    <td>jogging</td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/jogging/0.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/jogging/1.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/jogging/2.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//poses/jogging/2.mp4" type="video/mp4"> </video></td>
  </tr>
  <tr>
    <td>24</td>
    <td>swimming butterfly stroke</td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/swimming butterfly stroke/0.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/swimming butterfly stroke/1.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/swimming butterfly stroke/2.mp4" type="video/mp4"> </video></td>
    <td><p>Pose estimation failed completely</p></td>
  </tr>
  <tr>
    <td>25</td>
    <td>walking the dog</td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/walking the dog/0.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/walking the dog/1.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/walking the dog/2.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//poses/walking the dog/2.mp4" type="video/mp4"> </video></td>
  </tr>
  <tr>
    <td>26</td>
    <td>walking through snow</td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/walking through snow/0.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/walking through snow/1.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/walking through snow/2.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//poses/walking through snow/2.mp4" type="video/mp4"> </video></td>
  </tr>
  <tr>
    <td>27</td>
    <td>sweeping floor</td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/sweeping floor/0.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/sweeping floor/1.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/sweeping floor/2.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//poses/sweeping floor/1.mp4" type="video/mp4"> </video></td>
  </tr>
  <tr>
    <td>28</td>
    <td>skipping rope</td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/skipping rope/0.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/skipping rope/1.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//videos/skipping rope/2.mp4" type="video/mp4"> </video></td>
    <td><video controls width="300" height="360"> <source src="./files/meeting15//poses/skipping rope/1.mp4" type="video/mp4"> </video></td>
  </tr>
</table></body>