html, body {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    min-width: 100%;
}

body {
    font: 100.01% "Trebuchet MS", Trebuchet, Tahoma, Verdana, Arial, sans-serif;
    color: #333;
    padding: 0;
}

.data_column {
    float: left;
}

/* Clear floats after the columns */
.data_row:after {
    content: "";
    display: table;
    clear: both;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, "Times New Roman", Times, serif;
    color:#4088b8;
    clear: both;
}

h1 {
}

h2 {
    color: orange;
}

h3 {
}

h4 {
    color: #333;
}

p {
    margin: 10px 0;
    /*clear: both;*/
}


ul ol {
    margin-bottom: 20px;
}

#wrap {
    color: #404040;
    /*margin: 0 12%;*/
    margin: 20px 40px;
}

a {
    color: #4088b8;
}

table {
    font-size: inherit;
    border: 1px solid #c8c8c8;
    padding: 10px;
}

th {
    background: #d8d8d8;
    text-align: center;
    padding: 5px;
    white-space: nowrap;
    vertical-align: center;
}

td {
    text-align: center;
    padding: 5px;
    vertical-align: center;
}

.table_img {
    width: 100px;
    height: 100px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.img_column {
  float: left;
  width: 25%;
  padding: 5px;
}

/* Clear floats after image containers */
.img_row::after {
  content: "";
  clear: both;
  display: table;
}

select, input, textarea {
    font: 99% "Trebuchet MS", Trebuchet, Tahoma, Verdana, Arial, sans-serif;
}

pre, code, tt, dt {
    font: 100% monospace;
    margin: 20px 0;
}

pre, blockquote {
    padding: 15px;
    background-color: #f0f0f0;
    margin: 20px 0;
    -moz-border-radius: 10px;
}

td pre {
    font: 85% monospace;
    padding: 5px;
    margin: 5px 0;
}
.heading{
color:black;
font-size:20;
font-weight:bold;
}
.top{
color:#504A4B;
font-size:26;
font-weight:bold;
}
.date{
color:#000033;
font-size:14;
/*font-weight:bold;*/
}

.MathJax span {
    transition: none;
}

tr.spaceUnder {
  padding-bottom: 1em;
}
tr:nth-child(odd){
    background-color: #fefefe;
}
tr:nth-child(even){
    background-color: #f0f0f0;
}

/*tr:hover{
    background-color: #FFFF66;
}*/

table tr td .imsize{
    height: 300px;
    width: 300px;
}